body {
    font-family: sans-serif;
    padding: 20px;
    background: #f6f6f6;
}

h1 {
    margin-bottom: 10px;
}

#compoundSelect {
    font-size: 18px;
    padding: 8px;
    margin-bottom: 20px;
}

#formulaBox {
    margin-top: 10px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 350px;
}
