body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 10px 0;
}

#controls {
  margin: 10px;
}

#canvas-container {
  width: 100%;
  height: 600px;
  border: 1px solid #aaa;
  margin-top: 10px;
}
